@namespace s "library://ns.adobe.com/flex/spark";

.listTitle {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 50px;
    color: #1AA3B1;
}

.talkListTitle {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 30px;
    color: #1AA3B1;
}

.title {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 30px;
    color: #FFFFFF;
}

.talkTitle {
    fontFamily: _sans;
    fontWeight: bold;
    fontSize: 30px;
    color: #1AA3B1;
}

.talkSpeakers {
    fontFamily: _sans;
    fontWeight: bold;
    fontSize: 26px;
    color: #000000;
}

.talkTime {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 26px;
    color: #444444;
}

.talkLocation {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 26px;
    color: #444444;
}

.talkStream {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 26px;
    color: #444444;
}

.talkLanguage {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 26px;
    color: #444444;
}

.subTitle {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 30px;
    color: #DDDDDD;
}

.content {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 30px;
    color: #777777;
}

.link {

}

.dukeconGrid {
    borderStyle: none;
    verticalGridLines: false;
    horizontalGridLines: false;
    paddingLeft: 0;
    paddingRight: 0;
    paddingTop: 0;
    paddingBottom: 0;
}