@namespace s "library://ns.adobe.com/flex/spark";

.title {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 30px;
    color: #FFFFFF;
}

.content {
    fontFamily: _sans;
    fontWeight: normal;
    fontSize: 30px;
    color: #777777;
}

.link {

}